PyAudio==0.2.14
requests==2.31.0
pyttsx3==2.90
stream2sentence==0.2.2
fastapi>=0.104.1
loguru
pydantic
pydub
python-dotenv
torch
torchaudio
uvicorn
cutlet
fugashi[unidic-lite]
TTS @ git+https://github.com/coqui-ai/TTS@fa28f99f1508b5b5366539b2149963edcb80ba62
transformers==4.36.2
python-multipart==0.0.6
typing-extensions>=4.8.0
numpy
mecab-python3
unidic